<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WayShare - Login</title>
    <link rel="stylesheet" type="text/css" href="../static/registry/main.css">
</head>
<body>
    <div class="signin-container">
        <h1>Sign In</h1>
        <form id = "my-form" >
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div id="response-message" class="mb-3"></div>

            <button type="submit" class="btn-btn-primary">Sign In</button>
        </form>
        <div class="links">
            <a href="#">Forgot Password?</a>
            <p>Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></p>
        </div>
    </div>
</body>
    <script src='../static/registry/main.js'></script>
</html>